@define-color grey rgba(32, 32, 32, 0.8);
@define-color yellow #f3f99d;
@define-color darkgrey rgba(20, 20, 20, 0.8);
@define-color transparent rgba(0, 0, 0, 0);

window {
  margin: 0px;
  background-color: @grey;
  font-size: 1.2em;
  font: jetbrains mono;
}

#input {
  margin: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 2px solid @yellow;
  border-radius: 0px;
  background-color: @transparent;
}

#inner-box {
  margin: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border-top: 2px solid @transparent;
  color: white;
  background-color: @transparent;
}

expander .entry {
  margin-left: -15px;
}

#img {
  margin-right: 6px;
}

#outer-box {
  margin: 0px;
  border: 0px solid;
  background-color: @transparent;
}

#scroll {
  margin: 0px;
  border: 0px solid;
  background-color: @transparent;
}

#entry{
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
}

#entry:selected{
  background-color: @yellow;
  color: @darkgrey;
  outline: 0px;
  border-radius: 0px;
}

#text:selected{
  background-color: @yellow;
  color: @darkgrey;
  outline: 0px;
  border-radius: 0px;
}
